$primary_color: rgb(250, 241, 203);

body {
  
  text-align: center;
  background-color: $primary_color;
  font: {
    family: Verdana, Helvetica, Arial;
    size: 20px;
  }
}

a {
  color: rgb(6, 97, 82);
  img {
    border: none;
  }
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

p {
  max-height: max-content;
}

#container {
  width: 75%;
  margin: 0 auto;
  background: #fff;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#content {
  clear: both;
  padding-top: 20px;
}
